* {
	user-select: none;
}

#retry {
	display: none;
	width: 100%;
	margin-top: 15px;
}

.view-name {
	color: var(--color) !important;
}
.progress-bar {
	width: 100%;
	animation: progress-bar-stripes 1s linear infinite, progress-bar 1s ease-out;
  }
  
  @keyframes progress-bar-stripes {
	from {
	  background-position-x: 1rem;
	}
	to {
	  background-position-x: 0;
	}
  }

  @keyframes progress-bar {
	from {
	  width: 0;
	}
	to {
	  width: 100%;
	}
  }

.viewsContainer {
    display: none;
}

.form-switch {
	text-align: right;
	float: right;
}

.form-switch .form-check-input {
	margin-left: .5rem;
}

.form-switch-label {
	margin-left: 0;
}


.title {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

span.viewName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: calc(60%);
}

h5.viewName {
	display: inline-block;
	margin-bottom: 0;
}

.form-check-input:checked {
	background-color: var(--color);
	border-color: var(--color);
}