* {
	user-select: none;
}

#retry {
	display: none;
	width: 100%;
	margin-top: 15px;
}

.progress-bar {
	animation: progress-bar-stripes 1s linear infinite;
  }
  
  @keyframes progress-bar-stripes {
	from {
	  background-position-x: 1rem;
	}
	to {
	  background-position-x: 0;
	}
  }

.viewsContainer {
    display: none;
}

.switch {
	float: right;
}

.container {
	text-align: center;
}

.title {
	margin-bottom: 15px;
}

span.viewName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: calc(60%);
}

#reload:hover {
    background-color: white;
}

#reload:hover > i {
    color: blueviolet;
  }