.switch label input[type='checkbox']:checked + .lever:after {
	background-color: var(--color);
}

.switch label input[type='checkbox']:checked + .lever {
	background-color: var(--color-accent);
}

.switch label .lever:before {
	background-color: var(--color-accent);
}

.btn,
.btn:hover,
.btn:focus {
  background-color: var(--color);
}

.progress .indeterminate {
	background-color: var(--color) !important;
}

.progress {
	position: absolute;
	background-color: var(--color-accent);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
}


#reload {
	background-color: transparent;
	border: var(--bs-btn-border-width) solid var(--color);
	transition: background-color .15s ease-out;
}

#reload > i {
	color: var(--color);
	transition: color .15s ease-out;
}

#reload:hover {
	background-color: var(--color);
}

#reload:hover > i {
	color: white;
}


.input-field input:focus + label {
	color: var(--color) !important;
}

input:focus {
	border-bottom: 1px solid var(--color) !important;
	box-shadow: 0 1px 0 0 var(--color) !important;
}

li > span {
	color: var(--color) !important;
}
li > h5 {
	color: var(--color) !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: var(--color) !important;
}

.tabs .indicator {
    background-color: var(--color) !important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: var(--color-accent) !important;
}

.tabs .tab a {
    color: var(--color) !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
	border: 2px solid var(--color) !important;
	background-color: var(--color) !important;
}