name: Compile MBCord

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Check out Git repository
      uses: actions/checkout@v3

    - name: Install Node.js, NPM and Yarn
      uses: actions/setup-node@v1
        with:
          node-version: 10

    - name: Electron Builder Action
      uses: samuelmeuli/action-electron-builder@v1.6.0


    - name: Build/release Electron app
      uses: samuelmeuli/action-electron-builder@v1
       with:
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          github_token: ${{ secrets.github_token }}

          # If the commit is tagged with a version (e.g. "v1.0.0"),
          # release the app after building
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}
